#d3-line {
  background-color: #fff;
  position: relative;
}

#d3-bar {
  background-color: #fff;
  position: relative;
}

/* Fill for current period area: */
.cur-area {
  fill-opacity: 0.05;
  fill: #488dfb;
}

.cur-point {
  fill: #488dfb;
}

.cur-line {
  stroke: #488dfb;
  stroke-width: '5px';
  fill: none;
}


.prev-area {
  fill-opacity: 0.05;
  fill: #8fa2ab;
}

.prev-point {
  fill: #8fa2ab;
}

.prev-line {
  stroke: #8fa2ab;
  stroke-width: '5px';
  fill: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
}
.grid path {
      stroke-width: 0;
}

.y-axis line{
  stroke: lightgrey;
}

.y-axis path{
  stroke: lightgrey;
}


.y-axis text {
  fill: #8EA2AC;
}

.x-axis line{
  stroke: none;
}

.x-axis path{
  stroke: none;
}

.x-axis text {
  fill: #8EA2AC;
}


.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #488dfb;
  stroke-width: 5px;
}

.hover-line {
  stroke: #488dfb;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.stackedBar-legend-dot {
  pointer-events: bounding-box;
}

.stackedBar-tooltip-outter-div {
  border: 1px solid #d3d4d8;
  border-radius: 2px;
  width: 220px;
  height: 280px;
  background-color: #fff;
  position: absolute;
  z-index: '100';
}

/*.popLineChart-tooltip-outter-div {*/
/*  position: relative;*/
/*  z-index: '100';*/
/*}*/

/*.stackedBar-tooltip-outter-div {*/
/*  position: relative;*/
/*  z-index: '100';*/
/*}*/

.stackedBar-tip-header {
  border-bottom: 1px solid #d3d4d8;
  text-align: center;
  padding: 5px 15px;
  background: #f3f4f7;
  color: #556e79;
  font-weight: 500;
}

.stackedBar-tip-body {
  padding: 10px 10px 5px 10px;
}

.stackedBar-tip-totals {
  padding: 0px 10px 10px 10px;
}

.stackedBar-tip-body-channel-color {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
}

.stackedBar-tip-body-channel {
  display: inline-block;
  width: 100px;
  font-weight: 500;
  text-align: left;
  padding-left: 2px;
}

.stackedBar-tip-body-orders {
  display: inline-block;
  text-align: right;
  width: 70px;
  color: #556e79;
}

.stackedBar-tip-body-selected {
  background-color: #eaebed;
  /*opacity: 0.2;*/
}

.popLineChart-tooltip-outter-div {
  border: 1px solid #d3d4d8;
  border-radius: 2px;
  width: 180px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  z-index: '100';
}

.popLineChart-tip-header {
  border-bottom: 1px solid #d3d4d8;
  text-align: center;
  padding: 5px 15px;
  background: #f3f4f7;
  color: #556e79;
  font-weight: 500;
}

.popLineChart-tip-body {
  padding: 10px;
}

.popLineChart-tip-body-cur-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  background: #488dfb;
}

.popLineChart-tip-body-cur-date {
  display: inline-block;
  width: 100px;
  font-weight: 500;
  text-align: left;
  padding-left: 2px;
}
.popLineChart-tip-body-cur-value {
  display: inline-block;
  text-align: right;
  width: 40px;
  color: #556e79;
}

.popLineChart-tip-body-prev-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  background: #8fa2ab;
}

.popLineChart-tip-body-prev-date {
  display: inline-block;
  width: 100px;
  font-weight: 500;
  text-align: left;
  padding-left: 2px;
}
.popLineChart-tip-body-prev-value {
  display: inline-block;
  text-align: right;
  width: 40px;
  color: #556e79;
}




/*
 * The styles below are for the createGlewTable function
 */
  table {
    width: 100% !important;
  }

  #js-table {
    height: 80% !important;
    overflow-x: auto !important;
    font-family: "Roboto", Arial, sans-serif !important;
  }

  table thead th {
    font-family: "Roboto", Arial, sans-serif !important;
    font-weight: 700 !important;
    color: #424854 !important;
    background-color: #FFF !important;
    background-color: #F4F5F8;
    border-color: #D8D9DC !important;
    padding: 4px 6px 4px 9px !important;
    font-size: 1.3em !important;
    white-space: normal !important;
    width: 130px !important;
    position: relative !important;
  }

  .layout-row {
    box-sizing: border-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .toggles {
    display: inline-block;
  }

  thead th .toggles {
    width: 18px !important;
    height: 20px !important;
    position: absolute !important;
    /*bottom: 1px !important;*/
    right: 10px !important;
    top: 50% !important;
    margin-top: -11px !important;
  }

  thead th span {
    padding-right: 15px !important;
    line-height: 1.3 !important;
    text-align: left !important;
  }

  .material-icons {
    font-family: 'Material Icons' !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 24px !important;
    max-width: 24px !important;
    overflow: hidden !important;
    display: inline-block !important;
    line-height: 1 !important;
    text-transform: none !important;
    letter-spacing: normal !important;
    word-wrap: normal !important;
    white-space: nowrap !important;
    direction: ltr !important;
  }

  .toggles i.material-icons:first-child {
    top: -4px;
  }

  .toggles i.material-icons:last-child {
    bottom: -6px;
  }

  th .toggles i.material-icons {
    color: #8EA2AC;
    position: absolute;
    left: 0;
  }

  tbody td {
    font-family: "Roboto", Arial, sans-serif !important;
    padding: 12px 12px 12px 18px !important;
    font-size: 0.8vw !important;
    vertical-align: middle !important;
    line-height: 1.1 !important;
    white-space: nowrap !important;
    text-align: right !important;
  }

  tbody tr {
    padding: 6px 12px 6px 18px !important;
    font-size: 1.1em !important;
    vertical-align: middle !important;
    line-height: 1.1 !important;
    white-space: normal !important;
  }

  tbody tr:nth-child(odd) {
    background: #fff !important;
  }

  tbody tr {
    background: #fff !important;
  }

  thead tr th:nth-child(1) {
    width: 150px !important;
  }

  tbody td:nth-child(1) {
    color: #2196F3 !important;
    width: 120px !important;
  }

  tbody td:nth-child(1) div {
    width: 120px !important;
  }

  tbody tr:hover {
    background: #f9f9f9 !important;
  }

  thead th {
    border: 1px solid #EBECED !important;
  }

  tbody td {
    border: 1px solid #EBECED !important;
  }

  .selected {
    background-color: #e8f5fe !important;
  }

  tbody td:first-child {
    text-align: left !important;
    width: 120px !important;
  }

  .table_footer {
    font-size: 15px;
    background-color: #FAFBFC;
    color: rgba(41, 48, 64, .6);
    border-top: 1px solid #C1CBD2;
    width: 100%;
    padding: 5px 0px 5px 5px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    height: 20% !important;
  }

  .footer {
    flex-direction: row !important;
    display: flex !important;
    justify-content: flex-end !important;
    padding-right: 30px !important;
  }

  .show_dropdown {
    margin-left: 12px;
    font-size: 15px;
    background-color: #FAFBFC;
    color: rgba(41, 48, 64, .6);
    width: 100%;
    padding: 16px;
    display: block;
    white-space: nowrap;
  }

  .show_text {
    margin-left: 12px;
    font-size: 15px;
    background-color: #FAFBFC;
    color: rgba(41, 48, 64, .6);
    width: 100%;
    padding: 16px;
    display: block;
    white-space: nowrap;
  }

  .glew-pagination {
    margin-left: 12px;
    font-size: 15px;
    background-color: #FAFBFC;
    color: rgba(41, 48, 64, .6);
    width: 100%;
    padding: 16px;
    display: block;
    white-space: nowrap;
    /*margin-top: 10px;*/
  }
